body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #dedbed;
  width: 400px;
  border-radius: 100px;
  transition: 0.3s;
}

mat-card img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 10px;
}

mat-card-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

mat-card-subtitle {
  font-size: 18px;
  text-align: center;
  color: #777;
  margin-bottom: 20px;
}

mat-card-content {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
