<div style="display: flex;">
  <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto;">
      <mat-card-header>
      <mat-card-title>{{movie.Title}}</mat-card-title>
          <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src={{movie.ImagePath}} alt= {{movie.Title}} />
      <mat-card-actions>
          <button
              mat-button
              color="primary"
              (click)="openGenreDialog(movie)"
          >
              Genre
          </button>
          <button
              mat-button
              color="primary"
              (click)="openDirectorDialog(movie)"
          >
              Director
          </button>
          <button
              mat-button
              color="primary"
              (click)="openDescriptionDialog(movie)"
          >
              Synopsis
          </button>
          <div *ngIf="!movie.Favorite">
              <mat-icon (click)="setFavorite(this.movie)">favorite_border</mat-icon>
            </div>
            <div *ngIf="movie.Favorite">
                <mat-icon (click)="removeFavorite(this.movie)">favorite</mat-icon>
            </div>

      </mat-card-actions>
  </mat-card>
</div>